
/* CAROUSEL */
.my-container-carousel{
    height: 400px;
    margin: auto;
    background-color: #d2c9ff;;
}

.my-images-carousel{
    height: 400px;
    width: 1000px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*  */

/* CATEGORY CARDS */
.my-div-category-card{
    width: 75%; 
    margin: auto;
}

.my-container-category-card{
    height: 150px;
    width: 300px;
    overflow: hidden;
    margin: auto;
}
/*  */