<div>
    <!-- INICIO CAROUSEL -->
    <div id="carouselExampleIndicators my-container-carousel2" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner my-container-carousel">
            <div class="carousel-item active">
                <img src="https://media.tycsports.com/files/2023/06/24/584696/messi_862x485.webp?v=1"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.fcbarcelona.com/photo-resources/2020/04/30/43337a9f-3781-4886-948c-f70912e4b1af/1920x1080_Messi_primerGol-min.jpg?width=1200&height=750"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blte0037e9a9c00faf2/6480a698b7e802dae8e332bf/Messi.jpg?auto=webp&format=pjpg&width=3840&quality=60"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- FINAL CAROUSEL -->

    <br><br>

    <!-- INICIO CATEGORY CARDS -->
    <h2>Categorias</h2>
    <div class="d-flex flex-row my-div-category-card">
        <div class="card text-bg-dark my-container-category-card">
            <img src="https://media.tycsports.com/files/2024/01/10/663125/lionel-messi-inter-miami_416x234.webp?v=1"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Categoría</h5>
            </div>
        </div>

        <div class="card text-bg-dark my-container-category-card">
            <img src="https://media.tycsports.com/files/2024/01/10/663125/lionel-messi-inter-miami_416x234.webp?v=1"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Categoría</h5>
            </div>
        </div>

        <div class="card text-bg-dark my-container-category-card">
            <img src="https://media.tycsports.com/files/2024/01/10/663125/lionel-messi-inter-miami_416x234.webp?v=1"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Categoría</h5>
            </div>
        </div>
    </div>
    <!-- FINAL CATEGORY CARDS -->

    <br><br>

    <!-- INICIO PRODUCT CARDS -->
    <h2>Destacados</h2>
    
    <div class="container py-5">
        <div class="row">
            <div *ngFor="let p of productList" class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <app-product-card [product]="p"></app-product-card>
            </div>
        </div>
    </div>
    
    <!-- FINAL PRODUCT CARDS -->


</div>
<br><br>