<div>
    <!-- INICIO CAROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide my-container-carousel global-bg-blue">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner my-images-carousel">
            <div class="carousel-item active">
                <div class="carousel-gradient"></div>
                <img src="https://media.tycsports.com/files/2023/06/24/584696/messi_862x485.webp?v=1"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-gradient"></div>
                <img src="https://www.fcbarcelona.com/photo-resources/2020/04/30/43337a9f-3781-4886-948c-f70912e4b1af/1920x1080_Messi_primerGol-min.jpg?width=1200&height=750"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-gradient"></div>
                <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blte0037e9a9c00faf2/6480a698b7e802dae8e332bf/Messi.jpg?auto=webp&format=pjpg&width=3840&quality=60"
                    class="d-block w-100" alt="...">
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- FINAL CAROUSEL -->

    <!-- INICIO CATEGORY CARDS -->
    <div class="global-bg-blue section-categories">

        <h2 class="subtitle">Categorías</h2>
        <div class="ag-format-container">
            <div class="ag-courses_box">

                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Categoría
                            <!-- UI/Web&amp;Graph design for teenagers 11-17&#160;years old -->
                        </div>

                        <div class="ag-courses-item_date-box">
                            <!-- Text: -->
                            <span class="ag-courses-item_date">
                                <!-- Text -->
                                Ver más
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- FINAL CATEGORY CARDS -->

    <!-- INICIO PRODUCT CARDS -->
    <div class=" global-bg-dark">
        <h2 class="subtitle">Destacados</h2>
        <div class="container py-5">
            <div class="row">
                <div *ngFor="let p of productList" class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <app-product-card [product]="p"></app-product-card>
                </div>
            </div>
        </div>
    </div>

    <!-- FINAL PRODUCT CARDS -->


</div>