<!-- NUEVA -->
<div class="card" style="margin: 15px auto">
  <div *ngIf="product.important == true" class="badge">Destacado</div>
  <a href="#" class="card-link text-danger like">
    <i class="bi bi-heart"></i>
    <i class="bi bi-heart-fill"></i>
  </a>

  <div class="imgBox">
    <img [src]="product.image" [ngClass]="{'img-blur': product.productStock.quantity === 0}" alt="mouse corsair"
      class="mouse">
  </div>

  <div class="contentBox">
    <h3>{{product.name}}</h3>
    <h2 class="price">${{product.price}}</h2>
    <!-- <a routerLink="/" class="buy">Detalles</a> -->

    <button (click)="addProductToCart(product)" *ngIf="product.productStock.quantity !== 0; else noStock" class="buy">Agregar <i
        class="bi bi-cart"></i></button>
    <ng-template #noStock>
      <button disabled class="buy">No hay stock</button>
    </ng-template>

  </div>

</div>