<nav class="navbar navbar-expand-lg global-bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/products" class="dropdown-item" href="#">Ver todo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngFor="let c of categoryList">
                            <a [routerLink]="['/products']" [queryParams]="{category: c.name}" class="dropdown-item"
                                href="#">{{c.name}}</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-cart"></i></a>
                    <ul class="dropdown-menu dropdown-cart" role="menu" style="width: 500px;">
                        <li *ngFor="let p of shoppingCart">
                            <span class="item">
                                <span class="item-left">
                                    <img [src]="p.image" style="width: 100px;" alt="" />
                                    <span class="item-info">
                                        <span>{{p.name}} <strong>x{{p.quantityInCart}}</strong></span>
                                        <span class="fw-bold">${{p.price * p.quantityInCart}}</span>
                                    </span>
                                </span>
                                <span class="item-right">
                                    <button (click)="removeProductFromCart(p.productId, $event)"
                                        class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                                </span>
                            </span>
                        </li>
                        <hr class="dropdown-divider">
                        <button routerLink="/cart" class="btn global-bg-green" style="margin: 10px;">Ver Carrito</button>
                        <strong> SUBTOTAL: ${{subtotal}}</strong>
                    </ul>
                </li>



            </ul>
            <form (ngSubmit)="getProductsByKeyword()" class="d-flex mx-auto justify-content-center" role="search">
                <input [(ngModel)]="keyword" placeholder="Buscar por nombre" name="keyword" autocomplete="off"
                    class="form-control me-2" type="search" aria-label="Search">
                <button [disabled]="!keyword" class="btn global-bg-green" type="submit">Buscar</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mi perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="admin/products" class="dropdown-item">Productos</a></li>
                        <li><a routerLink="admin/orders" class="dropdown-item">Ordenes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item">Cerrar sesión</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>