/* You can add global styles to this file, and also import other style files */

.global-bg-dark{
    background-color: #1a1e29;    
    color: #ffffff;
    font-size: 20px;
}


.global-bg-blue{
    background-color: #132d46;
    color: #ffffff;
    font-size: 20px;
}


.global-bg-green{
    background-color: #01c38e;  
    color: #ffffff;
}
.global-bg-green:hover{
    background-color: #00a176;  
}
.global-bg-green:disabled{
    background-color: #007958;  
    border: none;
}


.global-bg-white{
    background-color: #ffff;  
    font-size: 20px;  
}


.global-bg-yellow{
    background-color: #f9b234;
    font-size: 20px;
}
.global-bg-yellow:hover{
    background-color: #f9b234;
    color: black;
}
